<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mensagem de validação</title>
    </head>
    <body>
        <div
            class="alert alert-succes alert-dismissible"
            role="alert"
            th:if="${not #strings.isEmpty(message)}"
        >
            <span th:text="${message}"></span>
        </div>
    </body>
</html>
